In [1]:
# Load People Analytics data in Python
# Data source: https://github.com/keithmcnulty/peopleanalytics-regression-book/tree/master/data

import pandas as pd

def get_pad(sets=['charity_donation','employee_survey','health_insurance',
                  'job_retention','managers','politics_survey','salespeople',
                  'soccer','sociological_data','speed_dating','ugtests'],
            verbose=False):
  
  data = {}

  for set in sets:
    domain = 'https://raw.githubusercontent.com/'
    location = 'keithmcnulty/peopleanalytics-regression-book/master/data/'
    data[set] = pd.read_csv('{}{}{}.csv'.format(domain, location, set))
  
  if verbose:
    for set in sets:
      print('First five observations of {}.csv'.format(set))
      print(data[set].head())
      print('\n\n')

  return(data)

In [2]:
print(type(get_pad()))

<class 'dict'>

In [3]:
get_pad()['managers'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   employee_id        571 non-null    object
 1   performance_group  571 non-null    object
 2   yrs_employed       571 non-null    float64
 3   manager_hire       571 non-null    object
 4   test_score         571 non-null    int64
 5   group_size         571 non-null    int64
 6   concern_flag       571 non-null    object
 7   mobile_flag        571 non-null    object
 8   customers          571 non-null    int64
 9   high_hours_flag    571 non-null    object
 10  transfers          571 non-null    int64
 11  reduced_schedule   571 non-null    object
 12  city               571 non-null    object
dtypes: float64(1), int64(4), object(8)
memory usage: 58.1+ KB

In [4]:
import pytest
pytest

https://kiwidamien.github.io/making-a-python-package-vi-including-data-files.html

In [5]:
from peopleanalyticsdata import charity_donation, employee_survey, managers

In [6]:
charity_donation()

,n_donations,total_donations,time_donating,recent_donation,last_donation,gender,reside,age
0,1,310,15,0,4,M,Urban Domestic,29
1,3,1200,9,0,6,M,Rural Domestic,41
2,3,1200,27,1,11,M,Urban Domestic,77
3,2,760,6,1,1,F,Overseas,66
4,6,2540,27,0,11,M,Urban Domestic,26
...,...,...,...,...,...,...,...,...
349,1,310,7,0,11,M,Rural Domestic,47
350,16,7010,52,0,11,M,Rural Domestic,25
351,6,2540,26,0,6,F,Rural Domestic,28
352,6,2540,17,0,11,F,Urban Domestic,40
353,4,1650,19,1,11,F,Urban Domestic,68